@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&display=swap');
* {
    margin:0px;
    padding:0px;
}
body {
    background-image:url(resim/White-honeycomb-hexagon-Mirrored.jpg);
    background-repeat:unset;
    background-size:cover;
    font-family: 'Arvo', serif;
}
ul, ol {
    list-style-type: none;
}
#container {
    width:1000px;
    height:840px;
    margin-left:auto;
    margin-right:auto;
}
#ustmenu {
    width:1000px;
    height:110px;
}
#logo {
    width: 150px;
    height:110px;
    display:inline-block;
}
#menu {
    width:800px;
    height:110px;
    background-color:orange;
    display:inline-block;
    float:right;
}
#menu li {
    display:inline-block
}
#menu a {
    color:white;
    font-size:25px;
    text-decoration:none;
    padding:0px 20px;
    height:110px;
    display:inline-block;
    line-height: 110px;
    position: relative;
    left:90px;
}
#menu a:hover {
    text-decoration:underline;
    color:grey
}
#ortamenu {
    width:1000px;
    height: 400px;
    background-color:#c2dbe8;
    margin-top:20px;
    position:relative;
}
#bannerleft {
    width:400px;
    height:380px;
    position:absolute;
    left:40px;
    bottom:0px;
}
#bannerright {
    width: 400px;
    height: 380px;
    position:absolute;
    right:80px;
    top: 10px;
}
#bannerleft img {
    transform:scale(1);
    transition: all 0.7s;
}
#bannerleft img:hover {
    transform: scale(1.1);
}
#bannerright h1 {
    color:dodgerblue;
    font-family: 'Pacifico', cursive;
    padding-top:30px;
    font-size:50px;
    font-weight: 300;
}
#bannerright p {
    color:black;
    font-family: 'Abril Fatface', cursive;
    font-size:50px;
}
#urunler {
    width:1000px;
    height:800px;
    background-color:orange;
    margin-top:30px;
    position:relative;
}
.box {
    width:400px;
    height:170px;
    background-color:palegoldenrod;
    border-radius:30px;
    position:absolute;
    top:20px;
    left:50px;
}
.urunresmi {
    padding-left:10px;
    padding-top:10px;
}
.box h1 {
    color:black;
    font-family: 'Abril Fatface', cursive;
    position:absolute;
    left:150px;
    top:20px;
}
.box p {
    color:black;
    font-family: 'Martel', serif;
    position:absolute;
    left:150px;
    top:80px;
    font-size:20px;
    font-weight: 100;
}
.dikeybox {
    width:300px;
    height:450px;
    background-color:palegoldenrod;
    border-radius:30px;
    position: absolute;;
    top:230px;
    left:50px;
}
.dikeyresim {
    padding-top:20%;
    position: relative;
    left: 20%;
    bottom:60px;
}
.dikeybox h1 {
    color:black;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    padding-bottom:50px;
}
.dikeyboxx {
    width:300px;
    height:450px;
    background-color:palegoldenrod;
    border-radius:30px;
    position: absolute;
    top:230px;
    left:600px;
}
.dikeyresimm {
    padding-top:30px;
    padding-left:75px;
}
.dikeyboxx h1 {
    color:black;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    padding-top:100px;
}